<h1>Корзина</h1>

<div id="card">
    {{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{!-- Отрисовки циклом по массиву курсов --}}
            {{#each courses}}
            <tr>
                <td><img class="cart-image" src="{{url}}" alt=""></td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small js-remove" data-id="{{id}}" data-csrf="{{@root.csrf}}">Delete</button>
                </td>
            </tr>
            {{/each}}
            {{!-- Отрисовки циклом по массиву курсов --}}
        </tbody>
    </table>


    <p>Total price: <span class="price">{{coast}}</span></p>

    <form action="/orders" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit" class="btn green user">Купить</button>
    </form>
    {{else}}
    <h1>В корзине ничего нет</h1>
    {{/if}}
</div>